@model HardwareStore.Logic.PaginatedList<Thing>

@{
    ViewData["Title"] = "Details";
}

<section class="category bg-dark section__bottom-border">
    <div class="container category__container">
        <div class="category__menu-column">
            @foreach (var entity in ViewBag.Entities)
            {
                <ul class="category-menu__category-list">
                    <li class="category-menu__category-title">
                        <a class="category-menu__item">@entity.Name</a>
                        <ul class="category-menu__subcategory-list category-menu__subcategory-list--hide ">
                            @foreach (var category in entity.Categories)
                            {
                                if (User.IsInRole("admin"))
                                {
                                    <li class="category-menu__subcategory-title">
                                        <div class="category-menu__sub-item">
                                            <a asp-action="Details" asp-controller="Categories" asp-route-id="@category.Id">@category.Name</a>
                                        </div>
                                    </li>
                                }
                                else if (category.Name != "Void")
                                {
                                    <li class="category-menu__subcategory-title">
                                        <div class="category-menu__sub-item">
                                            <a asp-action="Details" asp-controller="Categories" asp-route-id="@category.Id">@category.Name</a>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
            }
        </div>
        <div class="category__content-column">
            <div class="category__header section__bottom-border">
                <div class="section__title category__title">
                    <span class="category__title-inner">@ViewBag.EntityName</span>
                    @if (User.IsInRole("admin"))
                    {
                        <span class="category__title-inner"><a class="admin-text" asp-action="Create" asp-controller="Categories" asp-route-sendEntityId="@ViewBag.Id">Add category |</a></span>
                        <span class="category__title-inner"><a class="admin-text" asp-action="Edit" asp-controller="Entities" asp-route-id="@ViewBag.Id">Edit </a></span>
                    }
                </div>
                @using (Html.BeginForm())
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="category__header-options catalog-options">
                        <div class="catalog-options__price">
                            <div class="cart-delivery-methods__label">
                                @if ((int)ViewData["MinPrice"] != 0 || (int)ViewData["MaxPrice"] != 10000)
                                {
                                    <input type="number" placeholder="От" min="0" name="minPrice" value="@ViewData["MinPrice"]" class="cart-delivery-methods__input cart-delivery-methods__input__left" />
                                    <input type="number" placeholder="До" min="0" name="maxPrice" value="@ViewData["MaxPrice"]" class="cart-delivery-methods__input cart-delivery-methods__input__right" />
                                    <label class="control-label">Цена:</label>
                                }
                                else
                                {
                                    <input type="number" placeholder="От" min="0" name="minPrice" class="cart-delivery-methods__input cart-delivery-methods__input__left" />
                                    <input type="number" placeholder="До" min="0" name="maxPrice" class="cart-delivery-methods__input cart-delivery-methods__input__right" />
                                    <label class="control-label">Цена:</label>
                                }

                            </div>
                        </div>
                        <div class="catalog-options__search">
                            <div class="cart-delivery-methods__label">
                                <input type="text" name="searchName" value="@ViewData["SearchName"]" placeholder="Поиск" class="cart-delivery-methods__input catalog-options__search-input" />

                                <div class="search-popup__button">
                                    <input type="submit" value="" asp-route-pageNumber="1" />
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="content">
                @foreach (var thing in Model)
                {
                    string imagePath;
                    if (thing.Images.Count() != 0)
                    {
                        imagePath = $"~/images/things/{thing.Images.First().ImagePath}";
                    }
                    else imagePath = "~/images/null_image.jpg";

                    <div class="product-item">
                        <a asp-action="Details" asp-controller="Things" asp-route-id="@thing.Id" class="product-item__link">
                            <div class="product-item__header">
                                <img class="product-item__img" src="@imagePath" asp-append-version="true" />
                            </div>

                            <div class="product-item__footer">
                                <span class="product-item__title">@thing.Name</span>
                                <span class="product-item__price">@thing.Price руб</span>
                            </div>
                        </a>
                    </div>
                }
            </div>
            @*Paginataion*@
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="category__navigation">
                <a asp-action="Details"
                   asp-route-id="@ViewData["Id"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-searchName="@ViewData["SearchName"]"
                   asp-route-minPrice="@ViewData["MinPrice"]"
                   asp-route-maxPrice="@ViewData["MaxPrice"]"
                   class="button category__navigation-button @prevDisabled">
                    Предыдущая
                </a>
                <a asp-action="Details"
                   asp-route-id="@ViewData["Id"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-searchName="@ViewData["SearchName"]"
                   asp-route-minPrice="@ViewData["MinPrice"]"
                   asp-route-maxPrice="@ViewData["MaxPrice"]"
                   class="button category__navigation-button @nextDisabled">
                    Следующая
                </a>
            </div>
        </div>
    </div>
</section>

<script src="~/scripts/menu-column.js"></script>
