@model HardwareStore.Models.Thing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Thing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    Images :
    @foreach (var image in Model.Images.ToList())
    {
        var imagePath = $"~/images/{image.ImagePath}";
        <div class="block-image">
            <img src="@imagePath" asp-append-version="true" />
        </div>
    }

    <div>
        Characteristics:
        @foreach (var ch in Model.Characteristics.ToList())
        {
            <div>@ch.Name : @ch.Data</div>
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
