@model HardwareStore.Logic.PaginatedList<Thing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <p>
        Name:<input type="text" name="searchName" value="@ViewData["SearchName"]" />
        Price:
        @if ((int)ViewData["MinPrice"] != 0 || (int)ViewData["MaxPrice"] != 100000)
        {
            <input type="number" min="0" name="minPrice" value="@ViewData["MinPrice"]" />
            <input type="number" min="0" name="maxPrice"  value="@ViewData["MaxPrice"]" />
        }
        else
        {
            <input type="number" min="0" name="minPrice" placeholder="Минимальная цена" />
            <input type="number" min="0" name="maxPrice" placeholder="Максимальная цена" />
        }
        
        <input type="submit" value="Search" asp-route-pageNumber="1" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string imagePath;
            if (item.Images.Count() != 0)
            {
                imagePath = $"~/images/{item.Images.First().ImagePath}";
            }
            else imagePath = "~/images/null_image.jpg";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    <div class="block-image">
                        <img src="@imagePath" asp-append-version="true" />
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) Br
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="Images" asp-action="Create" asp-route-sendThingId="@item.Id">Add image</a> |
                    <a asp-controller="Characteristics" asp-action="Create" asp-route-sendThingId="@item.Id">Add char</a>
                </td>
            </tr>
        }
    </tbody> 
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-searchName="@ViewData["SearchName"]"
   asp-route-minPrice="@ViewData["MinPrice"]"
   asp-route-maxPrice="@ViewData["MaxPrice"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-searchName="@ViewData["SearchName"]"
   asp-route-minPrice="@ViewData["MinPrice"]"
   asp-route-maxPrice="@ViewData["MaxPrice"]"
   class="btn btn-default @nextDisabled">
    Next
</a>